/* Importar o arquivo Bootstrap */
@import url('/css/bootstrap.min.css');

/* Adicionar seus estilos personalizados abaixo */
body {
    background-color: rgb(255, 170, 0);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilização adicional para o formulário */
form {
    max-width: 570px; /* Ajusta a largura máxima do formulário */
    margin: auto; /* Centraliza horizontalmente */
    padding: 20px;
    border: 1px solid #c964008d;
    border-radius: 50px;
    background-color: rgba(255, 133, 105, 0.757);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: -60px; /* Ajusta o posicionamento vertical do formulário para cobrir o título */
}

form label {
    font-weight: bold;
    width: 500px; /* Ajusta a largura do nome do campo */
}

form input[type="email"],
form input[type="password"] {
    width: calc(100% - 120px); /* Calcula a largura do input, considerando a largura do label */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: calc(100% - 120px); /* Calcula a largura do input, considerando a largura do label */
    font-size: 18px; /* Ajusta o tamanho do texto dos nomes dos campos */
    margin-top: 10px; /* Adiciona margem superior ao campo de e-mail */
}

.botao_login{
    width: 78%;
    padding: 10px;
    background-color: #640000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
    


.clear-button {
    background-color: red;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    margin-left: -40px; /* Ajusta a posição do botão para ficar ao lado do input */
    z-index: 1; /* Garante que o botão esteja acima do input */
    position: relative; /* Permite ajustar a posição do botão em relação ao input */
}

.clear-button:hover {
    color: #333;
}

.text-center {
    text-align: center;
    margin-top: 15px;
}

h1 {
    text-align: center;
    margin: 0; /* Remova a margem superior para eliminar o espaço extra acima do título */
    padding: 0; /* Remova qualquer padding para garantir que o título não ocupe espaço extra */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #333;
    text-transform: uppercase;
}

div span {
    font-size: 25px; /* Define o tamanho da fonte para os spans dentro do div */
    
    font-style: italic;
    background-color: #ff6262;
    color: #280000;
    margin-top: 10px; /* Adiciona um espaço de 10 pixels acima dos spans */
    border-radius: 4px;
}

#BotaoDeVoltar {
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: rgb(68, 0, 0);
    border-radius: 50%;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    transition: transform 0.3s ease; /* Adiciona uma transição suave para o efeito */
}

#BotaoDeVoltar:hover {
    transform: scale(1.2); /* Aumenta o tamanho em 20% ao passar o mouse */
}


.message {
    visibility: hidden;
    opacity: 0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    transition: visibility 0s, opacity 0.2s linear;
    height: 40px; /* Altura fixa para evitar movimentação */
    display: flex; 
    text-align: center;
}
.message.error {
    background-color: #f8d7da;
    color: #6d000b;
    border: 1px solid #f5c6cb;
}
.message.success {
    background-color: #d4edda;
    color: #139631;
    border: 1px solid #c3e6cb;
}
.message.visible {
    visibility: visible;
    opacity: 1;
}

/* Adicione seus estilos personalizados abaixo */

/* Adiciona estilos específicos para telas pequenas */
@media (max-width: 576px) {
    form label {
        width: 100%; /* Define a largura total para rótulos em telas pequenas */
    }
}

/* Adiciona estilos específicos para telas médias */
@media (min-width: 576px) {
    form {
        max-width: 400px; /* Ajusta a largura máxima do formulário para telas médias */
    }
}

/* Adiciona estilos específicos para telas grandes */
@media (min-width: 992px) {
    form {
        max-width: 600px; /* Ajusta a largura máxima do formulário para telas grandes */
    }
}





