/* Estilos para o menu */
.menu {
    background-color: #ff9355;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    color: #333;
    text-decoration: none;
}

.cart-icon {
    font-size: 1.7rem;
    cursor: pointer;
    color: white;
}

/* Estilos para o restante do layout */
.cabecalho {
    background-color: #ff5f2e;
    padding: 40px;
    text-align: center;
}

.cabecalhotitulo, .cabecalho-subtitulo {
    color: #fff;
    margin: 0;
}

.banner {
    background-image: url('banner.jpg');
    background-size: cover;
    padding: 100px 20px;
    text-align: center;
}

.bannerconteudo {
    color: rgb(0, 0, 0);
}

.bannertitulo {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.bannerdescricao {
    font-size: 1.2em;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5f2e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #ff7f4d;
}

.destaques {
    padding: 50px 20px;
    text-align: center;
}

.destaquestitulo {
    margin-bottom: 20px;
    font-size: 2em;
    color: #ff5f2e;
}

.pratos-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.prato {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 0 0 auto;
}

.prato:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pratoimagem {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.pratonome {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.pratodescricao {
    font-size: 1em;
    margin-bottom: 10px;
}

.pratopreco {
    font-size: 1.2em;
    font-weight: bold;
    color: #ff5f2e;
}

#BotaoDeVoltar {
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: rgb(68, 0, 0);
    border-radius: 50%;
    position: fixed;
    top: 40px;
    left: 20px;
    z-index: 9999;
    transition: transform 0.3s ease;
}

#BotaoDeVoltar:hover {
    transform: scale(1.2);
}

.rodape {
    background-color: #333;
    color: #ff8520;
    padding: 20px 0;
    text-align: center;
    font-size: 1em;
}

/* Estilos do Carrinho */
.cart-container {
    width: 400px;
    height: 100vh;
    position: fixed;
    right: -30vw;
    top: 0;
    background-color: white;
    box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.3);
    transition: right 0.5s;
}

.show-cart {
    right: 0 !important;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.cart-header .close-cart {
    font-size: 1.5rem;
    cursor: pointer;
}

.foods-cart {
    padding: 15px;
}

.food-card {
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.food-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.food-card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-card-head img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
}

.food-card-head p {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.food-card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.food-card-body button {
    border: none;
    background-color: #ff5f2e;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.food-card-body button:hover {
    background-color: #ff7f4d;
}

.food-card-body span {
    font-size: 1.2em;
    color: #333;
}
