.btn-login {
    background-color: #ff7300; /* Laranja queimado */
    color: #fff; /* Cor do texto */
    border-color: #ff7300; /* Cor da borda */
    border: 1px solid #ee5700f5;
    font-size: 18px; /* Tamanho da fonte */
    padding: 12px 24px; /* Espaçamento interno (vertical, horizontal) */
    border-radius: 8px; /* Raio dos cantos */
  }
  
  .btn-cadastro {
    background-color: #FFA500; /* Laranja */
    color: #fff; /* Cor do texto */
    border: 1px solid #ff5100; /* Cor da borda */
    font-size: 18px; /* Tamanho da fonte */
    padding: 12px 24px; /* Espaçamento interno (vertical, horizontal) */
    border-radius: 8px; /* Raio dos cantos */
  }
  
  .btn-cadastro:hover {
    background-color: #FF8C00; /* Laranja mais escuro ao passar o mouse */
    border: 1px solid #FF8C00; /* Cor da borda ao passar o mouse */
    transform: scale(1.05); /* Aumenta um pouco o tamanho ao passar o mouse */
  }

  .btn-login:hover {
    background-color: #FF8C00; /* Laranja mais escuro ao passar o mouse */
    border: 1px solid #FF8C00; /* Cor da borda ao passar o mouse */
    transform: scale(1.05); /* Aumenta um pouco o tamanho ao passar o mouse */
  }
  
  
  .btn-group {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .btn-group button {
    margin-left: 10px; /* Adiciona um espaço entre os botões */
  }

  #logo {
    width: 150px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 100%; /* Transforma o elemento em um círculo (ou oval se a largura e a altura não forem iguais) */
  }
  

  body {
    background-image: url('/img/primeiraimagem.jpg'); /* Caminho para sua imagem */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento pai */ 
    width: 100%; 
    
    
  }

  html {
    height: 100%;
  }
  
  .wrapper {
    min-height: 300vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
    margin: 0% auto;
    height: 100%;
  }
  
  footer {
    background-color: rgb(255, 192, 172);
    padding: 20px;
    width: 100%;
    margin-top: auto; /* Coloca o footer no final da página */
    position: fixed;
    bottom: 0;  
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
  
  }
/* Estilos para centralizar as imagens e adicionar descrições */
.menu-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 250px;
  width: 100%;
  height: 60px;
}


#delivery {
  width: 500px; /* Largura das imagens */
  height: auto; /* Mantém a proporção */
  margin-bottom: 2px; /* Espaçamento entre as imagens */
  mix-blend-mode: multiply;
}

#comida{
  width: 400px; /* Largura das imagens */
  height: auto; /* Mantém a proporção */
  margin-bottom: 20px; /* Espaçamento entre as imagens */
  mix-blend-mode:normal;
}


.descricao {
  font-family: Arial, sans-serif; /* Escolha uma fonte adequada */
  font-size: 34px; /* Tamanho da fonte */
  color: #fff; /* Cor do texto */
  margin-top: -8%; /* Espaçamento superior */
  background-color: rgb(235, 76, 2); /* Cor de fundo preto */
  padding: 10px; /* Adicione um preenchimento interno ao redor do texto */
}

.descricao:nth-child(2) {
  margin-top: 50px; /* Ajuste o espaçamento superior para o segundo texto conforme necessário */
}

#label-nome, #label-email, #label-senha {
  color: rgb(0, 0, 0);
  background-color: rgb(235, 76, 2); /* Cor de fundo preto */
  padding: 5px; /* Adicione um preenchimento interno ao redor do texto */ /* ou qualquer outra cor desejada */
}

.header-1{
  background-color: rgba(216, 98, 1, 0.39);
  height: 90px
}

.delivery-img {
  margin-top: 100px; /* Ajuste o valor conforme necessário para mover a imagem de entrega para baixo */
}



i {
  display: inline-block;
  margin: 10px;
  transition: transform 0.5s;
  /* Apply transition effect specifically to the transform property */

  /* Define the transition scale effect on hover */
  &:hover {
    color: #999999 !important;
    transform: scale(1.3);
  }
}
  
  
  
  