/* Estilos para o menu de navegação */
.desktop-category-selector {
    background-color: #ff9355;
    border-bottom: 1px solid #ff5e01;
    padding: 10px 0;
}

.desktop-category-selector__floating-box {
    display: inline-block;
}

.desktop-category-selector__floating-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.desktop-category-selector__horizontal {
    display: none;
}

/* Estilos para os itens do menu de navegação */
.desktop-category-links__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-category-links__item {
    display: inline;
    margin-right: 20px;
}

.desktop-category-links__item a {
    color: #333;
    text-decoration: none;
}

.desktop-category-links__item--active a {
    font-weight: bold;
    color: #ff5f2e;
}

/* Estilos para o restante do layout */
header {
    background-color: #ff5f2e;
    color: #bb5216;
    padding: 20px;
    text-align: center;
}

.banner {
    background-image: url('banner.jpg');
    background-size: cover;
    color: #bb5216;
    text-align: center;
    padding: 100px 20px;
}

.featured {
    text-align: center;
    padding: 50px 20px;
}

.dish {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

footer {
    background-color: #333;
    color: #bb5216;
    text-align: center;
    padding: 20px;
}

body{
    background-color: #f9ad81;
}
